<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
  </head>
  <body>

  <div class="container">
    <h3>Delete Product</h3>

    <table border="1" class="table table-striped table-responsive-md">
      <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productQuantity}"></td>
      </tr>
      </tbody>
    </table>

    <form th:action="@{/product/delete/{id}(id=${product.productId})}" th:object="${product}" method="post">
      <p>Are you sure you want to delete this product?</p>
      <button type="submit" class="btn btn-danger">Yes, Delete</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
